body {
	background-image: url("../images/gd.jpg");
  	background-size: cover;
	color: #fff;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

h1 {
	color: #e58f14;
	font-weight: bold;
	margin-top: 40px;
}

#slogan{
	font-style: italic;
}

ul {
    text-align: center;
    list-style-type: none;
}

a {
	color: #fff;
}